/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font: normal normal normal 100%/1.6 Helvetica, Arial, sans-serif;
	background-color: #f0f0f0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Elements */
p {
	margin-bottom: 10px;
	font-size: .9em;
}

label {
	cursor: pointer;
}

img {
	vertical-align: bottom;
}

a, input[type=submit] {
	color: #333;
	background-color: inherit;
	border: 0 none transparent;
	cursor: pointer;
}

input[type=submit] {
	font-weight: bold;
}

a:hover, input[type=submit]:hover {
	color: #666;
}

input[type=text], input[type=password], textarea {
	width: 100%;
	padding: 6px 8px;
	border: 1px solid #999;
	box-sizing: border-box;
}

input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover, input[type=password]:focus,
textarea:hover, textarea:focus {
	border-color: #555;
}

textarea {
	height: 400px;
	resize: vertical;
}

/* Helpers */
.clearfix {
	clear: both;
}

p.empty {
	padding-top: 100px;
	text-align: center;
	font-size: 5em;
}

p.empty a {
	text-shadow: 1px 1px 0 #999;
}

ul.ui-autocomplete {
	position: absolute;
	margin-bottom: 50px;
	background-color: #fff;
}

ul.ui-autocomplete li{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

ul.ui-autocomplete li:last-child {
	border-bottom: 1px solid #999;
}

ul.ui-autocomplete li a {
	display: block;
	padding: 2px 4px;
	font-size: .9em;
}

ul.ui-autocomplete li a.ui-state-hover,
ul.ui-autocomplete li a.ui-state-active {
	background-color: #d0d0d0;
}

/* Header */
body > header {
	width: 100%;
	margin-bottom: 20px;
	background-color: #333;
	border-bottom: 1px solid #292929;
}

body > header nav {
	width: 90%;
	min-width: 500px;
	max-width: 800px;
	margin: 0 auto;
	color: #c0c0c0;
	font-size: .9em;
}

body > header nav a {
	color: #c0c0c0;
}

body > header nav a:hover {
	color: #f0f0f0;
}

body > header nav ul li {
	float: left;
}

body > header nav ul.tools li {
	float: right;
}

body > header nav ul li a, body > header nav ul li h1 {
	display: block;
	padding: 6px 14px 4px 14px;
	border-right: 1px solid #292929;
}

body > header nav ul li h1, body > header nav ul.tools li:first-child a {
	border-right: 0 none transparent;
}

/* Main */
#wrapper {
	width: 90%;
	min-width: 500px;
	max-width: 800px;
	margin: 0 auto;
}

#wrapper ul.index li {
	margin-bottom: 10px;
}

#wrapper ul.index li a {
	display: block;
	font-size: .9em;
}

#wrapper ul.index li a.del {
	float: right;
}

#wrapper ul.index li img {
	max-width: 300px;
}

#wrapper form p.preview {
	width: 160px;
	height: 160px;
	padding: 6px;
	border: 1px solid #999;
	background-color: #fff;
}

#wrapper form p.preview:hover {
	border-color: #555;
}

#wrapper form p.preview a {
	display: block;
	height: 100%;
	overflow: hidden;
	line-height: 160px;
	text-align: center;
}

#wrapper form p.preview a img {
	width: 100%;
}

#upload-form {
	margin-bottom: 20px;
}

/* Tools */
#aether {
	width: 240px;
	margin: 200px auto;
}

#dim {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111;
}

#selection {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 780px;
	min-height: 400px;
	margin-left: -400px;
	padding: 9px;
	background-color: #fff;
	border: 1px solid #333;
}

#selection #loader {
	line-height: 300px;
	text-align: center;
}

#selection ul li {
	float: left;
	margin: 10px;
}

#selection ul li a {
	display: block;
	width: 165px;
	padding: 4px;
	border: 1px solid #333;
}

#selection ul li a:hover {
	border-color: #999;
}

#selection ul li a img {
	width: 100%;
}
